body {
    background-color: #634832;
  }
h1 {
    font-size: 60px;
    color: #ece0d1;
    border-bottom: #38220f 3px solid;
   text-align: center;
  }

  p {
    color:#ece0d1;
    text-indent: 30px;
  }
.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    

  }
  
 .c1 {
        background-color: #967259;
        width:22%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 1px;
        float:left;
        margin: 20px;
        border: #38220f 3px solid;
        
        
  }
.c2 {
            
            background-color: #967259;
            width:22%;
            padding-top: 20px;
            padding-bottom: 55px;
            padding-left: 10px;
            padding-right: 1px;
            float: left;
            margin: 20px;
            border: #38220f 3px solid;

    }

.c3 {
    background-color: #967259;
    width:22%;
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 10px;
    padding-right: 1px;
    float:left;
    margin: 20px;
    border: #38220f 3px solid;
}
  h2 {
    color:#38220f;
    font-size: 25px;
  }


